Flask
requests
beautifulsoup4
Faker
peewee
fastapi
uvicorn
pycbrf
pytest
mock
coverage
pytest-cov
certifi
charset-normalizer
click
dbf_light
greenlet
idna
itsdangerous
MarkupSafe
SQLAlchemy==1.4.37
urllib3
Werkzeug